* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: #121214;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 50vh;
  border: none;
  background: transparent;
  color: #E3E3E3;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background: #0000FF;
  border-radius: 10px;
  padding: 10px;
  color: #FF0000;
}