@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: .5s;
}

.sci {
  position: relative;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li::before {
  content: attr(data-text);
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 120px));
  font-size: 14vw;
  pointer-events: none;
  font-weight: 700;
  transition: .5s;
  opacity: 0;
}

.sci li:hover::before {
  opacity: .2;  
  transform: translate(-50%, calc(-50% + 150px))
}

.sci li a {  
  position: relative;  
  width: 120px;
  height: 120px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 10px;
  text-decoration: none;
  margin: 20px;
  font-size: 4em;
  transform-style: preserve-3d;
  perspective: 500px;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  transition: background .25s;
}

.js-tilt-glare {
  border-radius: 10px;
}

.sci li a:hover.linkedin{
  background: #0e76a8;  
}

.sci li a:hover.youtube{
  background: #FF0000;
}

.sci li a:hover.twitter{
  background: #0099FF;
}

.sci li a:hover.instagram{
  background: #E4405F;
}

.sci li a:hover.twitch{
  background: #6441A5;
}

.sci li a:hover.github{
  background: #171515;
}

.sci li a .ph-linkedin-logo,
.sci li a .ph-youtube-logo,
.sci li a .ph-twitter-logo,
.sci li a .ph-instagram-logo,
.sci li a .ph-twitch-logo,
.sci li a .ph-github-logo {
  transition: .25x;
  pointer-events: none;
}

.sci li a:hover .ph-linkedin-logo,
.sci li a:hover .ph-youtube-logo,
.sci li a:hover .ph-twitter-logo,
.sci li a:hover .ph-instagram-logo,
.sci li a:hover .ph-twitch-logo,
.sci li a:hover .ph-github-logo {
  color: #FFF;
  transform: scale(1.75) translateZ(50px);
}